* {
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
}
.section_link {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 950;
	font-size: 1.5em;
	color: #666467;
	padding-left: 16px;
}
.news_article {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 2px solid #c1c0c0;
	padding: 6px;
	flex: 1;
}
.newspaper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 800px;
	width: 1034px;
}
.news_row_div {
	display: flex;
	border-top: 2px solid #020002;
	border-right: 2px solid #c1c0c0;
}
.newspage_div {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #020002;
}
.news_title {
	font-style: italic;
	font-size: 1.1em;
	font-weight: normal;
	color: #020002;
}
.newspaper_title {
	font-family: "Parisienne", cursive;
	font-size: 2.7em;
	font-weight: normal;
	color: #020002;
}
.news_p {
	color: #453f27;
	font-size: 0.6em;
}
.sections_nav {
	flex: 0 calc(100% / 4 * 3);
	border-left: 2px solid #c1c0c0;
}
.section_link_list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	list-style: none;
	padding: 0px;
	margin: 0px;
	height: 100%;
}
.news_article.central {
	flex: 0 calc(100% / 4 * 2);
}
.section_link_list li {
	display: flex;
	align-items: center;
	flex: 1;
}
.sections_nav a {
	text-decoration: none;
}
.sections_nav a:hover {
	text-decoration: underline;
}
.section_link_list .politics {
	background-color: #faf2a9;
}
.section_link_list .tech {
	background-color: #89eeec;
}
.section_link_list .local {
	background-color: #5ef6c5;
}
.section_link_list .opinion {
	background-color: #84acfc;
}
.section_link_list .sports {
	background-color: #ab82fc;
}
